body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 38px;
  font-weight: 500;
}
h2 {
  font-size: 34px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 500;
}
h4 {
  font-size: 26px;
  font-weight: 500;
}
h5 {
  font-size: 22px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 400;
}
label {
  font-size: 18px;
  font-weight: 500;
}
input {
  width: 100%;
  margin-bottom: 30px;
}
button {
  margin: 20px 0px;
  background-color: red;
  border-radius: 6px;
  border: 0px;
  height: 44px;
  padding: 0px 30px;
}
.loginbg {
  background-image: url(./assets/images/loginBg.gif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}
.loginContent {
  border: 1px solid #ffff;
  border-radius: 6px;
  overflow: hidden;
  width: 90%;
  margin: 0px auto;
}
.login--leftSide-content {
  text-align: center;
  background-color: rgba(206, 0, 0, 1);
}
.login--rightSide-content {
  background-color: #ffff;
  height: 100%;
  text-align: center;
  padding: 40px 70px;
}
.textFiled {
  text-align: left;
}
.textFiled label {
  margin-bottom: 10px;
}
