body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
:root {
  --black: #181818e6;
  --white: #ffffff;
  --danger: red;

  /* font size variale */
  --small: 20px;
  --medium: 30px;
  --large: 38px;
}
.sectionSpece {
  padding: 20px 0px;
  margin: 20px 0px;
}
h1 {
  font-size: 38px;
  font-weight: 500;
}
h2 {
  font-size: 34px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 500;
}
h4 {
  font-size: 26px;
  font-weight: 500;
}
h5 {
  font-size: 22px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 400;
}
label {
  font-size: 18px;
  font-weight: 500;
}
input {
  margin-bottom: 30px;
  width: 100%;
  height: 44px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid;
}
input:focus {
  outline: none;
}
button {
  margin: 20px 0px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 6px;
  border: 0px;
  height: 44px;
  padding: 0px 30px;
}
.loginbg {
  background-image: url(https://imgd.aeplcdn.com/0x0/cw/static/landing-banners/d/new-cars-banner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
}
.loginContent {
  border: 1px solid var(--black);
  border-radius: 6px;
  width: 90%;
  margin: 0px auto;
  position: absolute;
  top: 25% !important;
  height: 400px;
  inset: 0;
  overflow: hidden;
}
.login--leftSide-content {
  text-align: center;
  background: url(./assets/images/loginLeftSide.jpg);
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: relative;
}
.login--leftSide-content::after {
  content: "";
  background: var(--black);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.login--rightSide-content {
  background-color: var(--white);
  height: 100%;
  text-align: center;
  padding: 40px 70px;
}
.textFiled {
  text-align: left;
}
.textFiled label {
  margin-bottom: 10px;
}
